
.grid {
    .cell {
        @media screen and (min-width: 0em) and (max-width: 40em) {
            border: 1px solid blue;
        }
        @media screen and (min-width: 40em) and (max-width: 64em) {
            border: 1px solid red;
        }
    }
}



p {
    $string: 'see this when the screen is small';
    content: str-replace($string, 'abc', 'xyz');
  }