.grid {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    .grid {
        margin-right: -0.625rem;
        margin-left: -0.625rem;
        @media print,
        screen and (min-width: 40em) {
            margin-right: -0.9375rem;
            margin-left: -0.9375rem;
        }
        @media print,
        screen and (min-width: 64em) {
            margin-right: -0.9375rem;
            margin-left: -0.9375rem;
            &.collapse {
                margin-right: 0;
                margin-left: 0;
            }
            &.expanded {
                max-width: none;
            }
            .grid {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

///////
.grid:not(.expanded) .grid {
    max-width: none;
}

.grid.collapse>.cell {
    @include p-lr(0);
}

.grid.is-collapse-child,
.grid.collapse>.cell>.grid,
.grid.collapse>.cells>.grid {
    @include p-lr(0);
}

.cell,
.cells {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    @include p-lr(0.625rem);
    min-width: 0;
}

@media print,
screen and (min-width: 40em) {
    .cell,
    .cells {
        @include p-lr(0.9375rem);
    }
}

.cell.grid.grid,
.grid.grid.cells {
    float: none;
    display: block;
}

.grid .cell.grid.grid,
.grid .grid.grid.cells {
    @include m-lr(0);
    @include p-lr(0);
}

.sm {
    &1 {
        @include cell($one);
    }
    &2 {
        @include cell($two);
    }
    &3 {
        @include cell($three);
    }
    &4 {
        @include cell($four);
    }
    &5 {
        @include cell($five);
    }
    &6 {
        @include cell($six);
    }
    &7 {
        @include cell($seven);
    }
    &8 {
        @include cell($eight);
    }
    &9 {
        @include cell($nine);
    }
    &10 {
        @include cell($ten);
    }
    &11 {
        @include cell($eleven);
    }
    &12 {
        @include cell($twelve);
    }
    &-order- {
        &1 {
            @include order(1);
        }
        &2 {
            @include order(2);
        }
        &3 {
            @include order(3);
        }
        &4 {
            @include order(4);
        }
        &5 {
            @include order(5);
        }
        &6 {
            @include order(6);
        }
    }
    &-off- {
        &0 {
            margin-left: $zero;
        }
        &1 {
            margin-left: $one;
        }
        &2 {
            margin-left: $two;
        }
        &3 {
            margin-left: $three;
        }
        &4 {
            margin-left: $four;
        }
        &5 {
            margin-left: $five;
        }
        &6 {
            margin-left: $six;
        }
        &7 {
            margin-left: $seven;
        }
        &8 {
            margin-left: $eight;
        }
        &9 {
            margin-left: $nine;
        }
        &10 {
            margin-left: $ten;
        }
        &11 {
            margin-left: $eleven;
        }
    }
    &-order- {
        &1 {
            @include order(1);
        }
        &2 {
            @include order(2);
        }
        &3 {
            @include order(3);
        }
        &4 {
            @include order(4);
        }
        &5 {
            @include order(5);
        }
        &6 {
            @include order(6);
        }
    }
    &-up- {
        &1,
        &2,
        &3,
        &4,
        &5,
        &6,
        &7,
        &8 {
            @include wrap(wrap);
        }
    }
}

@media print,
screen and (min-width: 40em) {
    .md {
        &1 {
            @include cell($one);
        }
        &2 {
            @include cell($two);
        }
        &3 {
            @include cell($three);
        }
        &4 {
            @include cell($four);
        }
        &5 {
            @include cell($five);
        }
        &6 {
            @include cell($six);
        }
        &7 {
            @include cell($seven);
        }
        &8 {
            @include cell($eight);
        }
        &9 {
            @include cell($nine);
        }
        &10 {
            @include cell($ten);
        }
        &11 {
            @include cell($eleven);
        }
        &12 {
            @include cell($twelve);
        }
        &-off- {
            &0 {
                margin-left: $zero;
            }
            &1 {
                margin-left: $one;
            }
            &2 {
                margin-left: $two;
            }
            &3 {
                margin-left: $three;
            }
            &4 {
                margin-left: $four;
            }
            &5 {
                margin-left: $five;
            }
            &6 {
                margin-left: $six;
            }
            &7 {
                margin-left: $seven;
            }
            &8 {
                margin-left: $eight;
            }
            &9 {
                margin-left: $nine;
            }
            &10 {
                margin-left: $ten;
            }
            &11 {
                margin-left: $eleven;
            }
        }
        &-order- {
            &1 {
                @include order(1);
            }
            &2 {
                @include order(2);
            }
            &3 {
                @include order(3);
            }
            &4 {
                @include order(4);
            }
            &5 {
                @include order(5);
            }
            &6 {
                @include order(6);
            }
        }
        &-up- {
            &1,
            &2,
            &3,
            &4,
            &5,
            &6,
            &7,
            &8 {
                @include wrap(wrap);
            }
        }
    }
}

@media print,
screen and (min-width: 64em) {
    .lg {
        &1 {
            @include cell($one);
        }
        &2 {
            @include cell($two);
        }
        &3 {
            @include cell($three);
        }
        &4 {
            @include cell($four);
        }
        &5 {
            @include cell($five);
        }
        &6 {
            @include cell($six);
        }
        &7 {
            @include cell($seven);
        }
        &8 {
            @include cell($eight);
        }
        &9 {
            @include cell($nine);
        }
        &10 {
            @include cell($ten);
        }
        &11 {
            @include cell($eleven);
        }
        &12 {
            @include cell($twelve);
        }
        &-off- {
            &0 {
                margin-left: $zero;
            }
            &1 {
                margin-left: $one;
            }
            &2 {
                margin-left: $two;
            }
            &3 {
                margin-left: $three;
            }
            &4 {
                margin-left: $four;
            }
            &5 {
                margin-left: $five;
            }
            &6 {
                margin-left: $six;
            }
            &7 {
                margin-left: $seven;
            }
            &8 {
                margin-left: $eight;
            }
            &9 {
                margin-left: $nine;
            }
            &10 {
                margin-left: $ten;
            }
            &11 {
                margin-left: $eleven;
            }
        }
        &-up- {
            &1,
            &2,
            &3,
            &4,
            &5,
            &6,
            &7,
            &8 {
                @include wrap(wrap);
            }
        }
    }
}