@mixin p-lr($padding) {
    padding-right: $padding;
    padding-left: $padding;
}

@mixin m-lr($margin) {
    margin-right: $margin;
    margin-left: $margin;
}

@mixin cell($cell) {
    -webkit-flex: 0 0 $cell;
    -ms-flex: 0 0 $cell;
    flex: 0 0 $cell;
    max-width: $cell;
}

@mixin wrap($wrap) {
    flex-wrap: $wrap;
}

@mixin order($order) {
    order: $order;
}

// Max Width Mixin
@mixin maxwidth($maxwidth) {
    flex: 0 0 $maxwidth * 1%;
    max-width: $maxwidth * 1%;
}
