$zero: 0%;
$one: 8.33333%;
$two: 16.66667%;
$three: 25%;
$four: 33.33333%;
$five: 41.66667%;
$six: 50%;
$seven: 58.33333%;
$eight: 66.66667%;
$nine: 75%;
$ten: 83.33333%;
$eleven: 91.66667%;
$twelve: 100%;